/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family:comic sans ms,  helvetica, arial, sans-serif;
margin:0px;

}

header.headerbar {
  position:fixed;
  width:100%;
  background-color:pink;
  z-index:10;
  vertical-align:middle;
  padding-left:5%;
}

h1 {
  font-weight: bold;
  color: white;
  background-color:pink;
}

main {
  padding-top:90px;
  padding-left:5%;
}


.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
  border-style:solid;
  padding:10px;
  margin:10px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  padding-left:5%;
  clear:both;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > nav > ul {
  color: #BBBBBB;
  list-style: none;
  margin: 0; 
  padding: 0;
}

footer nav > ul > li{
  margin: 0 20px 0 0;
  padding: 0;
  display: inline;
}

.nicejob {
  text-decoration: line-through;
}

ol{
  list-style:none;
  margin:0;
  padding:0;
}

ol li{
  clear:both;
  margin:0 0 10px 0;
  padding: 0;
}

label{
  float:left;
  width:150px;
}

input:focus {
  background-color:#ffe;
}

#container{
 margin-top:50px;  
}

.simpleColorContainer, .simpleColorDisplay {
  float:left;
}

input[required]:invalid, input[pattern]:invalid{
  border-color:#A5340B;
}

input[required]:valid, input[pattern]:valid{
  border-color:#0B9900;
}

ul{
  list-style:none;
}


li > span[contenteditable]:hover{
  background-color:#ffc;
}

li > span[contenteditable]:focus{
  background-color:#ffa;
  border: 1px shaded #000;
}

#submit{
  margin-top:5px;
}

table{
  border-collapse:collapse;
  width:600px;

}

th{
  background-color:cyan;
}

tr:nth-of-type(odd){
  background-color:#e6ffff;
}

 th:nth-child(n+2), td:nth-child(n+2){
   text-align: right;
}

tr:last-child{
  font-weight:bold;
}

td:last-child{
  font-weight:bolder;
}

tr:last-child, td:last-child{
  font-size:24px;
}

tr:last-child{
  border-top-style:solid;
}

tr:nth-last-child(2){
  color:pink;
}

tr:nth-last-child(-n+3) td{
  text-align:right;
}

#page_header{ width: 100%; }

#page_header > nav > ul, #page_footer > nav > ul{
  list-style: none;
  margin: 0; 
  padding: 0;
}

#page_header > nav > ul > li, footer > nav > ul > li{
  margin: 0 20px 0 0;
  padding: 0;
  display: inline;
}

#posts{
  float: left;
  width: 74%;
}
#posts aside{
  float: right;
  font-size: 20px;
  line-height: 40px;
  margin-left: 5%;
  width: 35%;
}

#sidebar{
  float: left;
  width: 25%;
}

@media only screen and (max-device-width:480px) {
  body{width:480px;}
  nav, section, header, footer{margin: 0 10px 0 10px;}
  
  #sidebar, #posts{
    float: none;
    width:100%;
  }
}

#newsletter{
  -webkit-column-count: 2;
 	
  -webkit-column-gap: 20px;
 	
  -webkit-column-rule: 1px solid #ddccb5;
 	
     -moz-column-count: 2;
 	
     -moz-column-gap: 20px;
 	
     -moz-column-rule: 1px solid #ddccb5;
 	
          column-count: 2;
 	
          column-gap: 20px;
 	
          column-rule: 1px solid #ddccb5;
}

#chatform {
  display:inline-block;
}

#m {
  display:inline-block;
}

::selection {
  color:white;
  background-color:pink;
}

h1::selection {
  background-color:cyan;
}
